
<h1>首頁歐</h1>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div><div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>