<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <%= link_to "Home", root_path %>
    <li class="breadcrumb-item active" aria-current="page">Channel list</li>
  </ol>
</nav>
<div> 
<% for channel in @channels do %>
<%= link_to channel.name, channel %>
</div> 
<% end %>