.edit.wrapper
  background: #fafafa
  height: 100vh
  padding-top: $top-bar-height
  .account_setting_wrapper
    width: 80%
    margin: auto

  .card
    margin-bottom: 1.5rem
  .subtitle
    padding: .6em
    margin: 0
    h6
      font-size: 18px

  .card-header
    background-color: $text-color
    color: white
    border: 1px solid rgba(0, 0, 0, 0.125)
    .nav-link.active:hover
      background-color: $bg-color
      filter: brightness(90%)
      color: black
      transition: .2s ease
    .nav-link:hover
      background-color: $bg-color
      color: $text-color
      transition: .2s ease

  .card-body
    padding: 1.25rem 1.25rem 0
    .table .thead-light th
      background-color: $bg-color
      border-color: $bg-color

    .table td
      vertical-align: middle
      .btn
        margin-left: .7em
        padding: .25rem .65rem
      .btn-outline-info
        filter: brightness(90%)

    .field
      font-weight: bolder
      margin-bottom: 1em
      margin-top: .7em

  .user_form
    margin: auto
    width: 70%
    color: $text-color
    line-height: 1.5
    .btn
      margin-top: .5em
      margin-bottom: .5em
      margin-left: 0
