section
  .landing-header
    background-color: $text-color
    color: white
    padding: 85px 0
    h3
      padding: 0 0 30px
    form
      .form-input
        width: 100%
        padding: 5px 6px
        border: 1px solid $text-color
        border-radius: .25rem
      .btn
        background-color: $dark-primary-color
        border-color: $primary-color
        border: 0
        width: 100%
        font-weight: bolder
      .btn:hover
        background-color: $primary-color
  .list-group-item
    padding: 0
    a
      display: inline-block
      width: 100%
      // padding: 12px 20px
      padding: 0.75rem 1.25rem
