<section>
  <h2>Emails</h2>
  <button>
  <%= link_to "Create Email", new_article_path %>
  </button>

  <button>
    <%#= link_to "Edit", edit_article_path %>
  </button>

  <% @mails.each do |mail| %>
      <header>
        <%= link_to mail.subject %>
      </header>
      <%= link_to mail.created_at.strftime("%B, %d, %Y") %>
  <% end %>
</section>
