<button>
  <%= link_to "Back to Email list", articles_path %>
</button>
<header>
  I'm Header.
</header>

<%= form_for @mail do |f| %>
  <%= f.label :subject, "Subject" %>
<% end %>

<footer>
  Footer.
</footer>

