  <div class="card-header"><p>I'm article show.</p>
  </div>
  <div class="card-body">
    <% @contents.each do |content| %>
      <h5 class="card-title">
        <%= link_to content.title %>
        <%= link_to content.desc %>
      </h5>
    <% end %>
  </div>