<%= link_to "Back to Email list", articles_path, class:"btn btn-primary" %>

<h2>
  <%= @mail.subject %>
</h2>

<%= link_to "Edit", edit_article_path(@mail), class: "button" %>
<%= link_to "Delete", @mail, method: :delete, class: "button", data: { confirm: "Are you sure you want to delete this email?"} %>

</div>

