<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to @channel.name, channel_path %> 
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to @article.subject %>
    </li> 
  </ol>
</nav>

  <div class="card-header">
    <%= @article.subject %>
  </div>
  <div class="card-body">
  </div>