<div class="d-flex justify-content-center mt-2">
  <div class="wrap">
    <div class="title-dash">
    </div>
    <div class="bottom-icon text-left">
      <i class="fa-2x fas fa-align-left"></i>
    </div>
  </div>
</div>