<aside id="sidebar"><%= link_to root_path, class: "sidebar__logo" do %>
  <h3>
    Goodbytes
  </h3>
  <% end %>
    <nav class="sidebar__menu">
      <a>Emails</a>
      <%= link_to "Link", channel_link_groups_path(channel_id: 1) %>
      <a>Sources</a>
      <a>Settings</a>
    </nav>

    <nav class="sidebar__menu sidebar__menu--push-down">
      <a>New Newsletter</a>
      <a>Billing</a>
      <a>Account Settings</a>
      <a>Sign Out</a>
    </nav>
</aside>
