<div style="display: none;" class="edit_content" id="edit_footer" data-controller="footer">
  <div class="form-group">
    <div class="d-flex justify-content-between">
      <div><label for="edit-outro">outro</label></div>
      <div class="col-2"><input data-target="footer.showOutro" type="checkbox"></div>
    </div>
    <textarea data-target="footer.outro" class="form-control" id="edit-outro"></textarea>
  </div>
  <button class="form-control" data-action="click->footer#submit">OK</button>
</div>