    <ul>
      <li class="list-group-item">
      <%= link_to "one title one desc", article_contents_path(article_id: @article.id, layout: 0), method: "POST", remote: true %></li>
      <li class="list-group-item">
      <%= link_to "one title", article_contents_path(article_id: @article.id, layout: 1), method: "POST", remote: true %></li>
      <li class="list-group-item">
      <%= link_to "one desc", article_contents_path(article_id: @article.id, layout: 2), method: "POST", remote: true %></li>
    </ul>
