<div id="footer" class="content">
  <div id="footer-outro">outro Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nam!</div>  
  <a href="#" id="footer-unsubscribe">unsubscribe</a>
</div>