<!-- <%#在新創article時預設要塞的內容%> -->
<div id="header" class="content">
  <div id="header-preheader">preheader</div>
  <div id="header-title"><h3>title</h3></div>
  <div id="header-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptatibus dolorem corrupti atque alias fuga nam dignissimos, neque perferendis, quidem nostrum nulla eligendi exercitationem? Incidunt ut dolorem repellat nemo quae.</div>
  <div id="header-image">image</div>
</div>