<div class="content" id="header" style="margin:0px auto;max-width:600px;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
    <tbody>
      <tr>
        <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
          <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
              <tr>
                <td align="left" style="font-size:0px;padding:10px 0;word-break:break-word;">
                  <div id="header-preheader" style="font-family:PingFangTC-Regular, sans-serif, Microsoft YaHei;font-size:18px;line-height:25px;text-align:left;color:#525252;">---頻道引言---</div>
                </td>
              </tr>
              <tr>
                <td align="left" style="font-size:0px;padding:10px 0;word-break:break-word;">
                  <div id="header-title" style="font-family:PingFangTC-Regular, sans-serif, Microsoft YaHei;font-size:30px;line-height:1;text-align:left;color:#626262;">---頻道標題---</div>
                </td>
              </tr>
              <tr>
                <td align="left" style="font-size:0px;padding:10px 0;word-break:break-word;">
                  <div id="header-desc" style="font-family:PingFangTC-Regular, sans-serif, Microsoft YaHei;font-size:18px;line-height:25px;text-align:left;color:#525252;">---頻道描述---</div>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>