.alert
  margin-bottom: 0
  position: absolute
  right: 20px
  top: $top-bar-height + 20px
  z-index: 999
  width: 240px
  height: 80px
  padding: .5rem

  ul
    padding: 0
    margin-bottom: 0
    list-style: none
    position: absolute
    top: 35%
    bottom: 50%
    left: .5rem
    right: 0
    margin: auto

  
  .close
    cursor: pointer