// $primary-color: #39adad
$primary-color: #66cccc
$dark-primary-color: #41A9A4
$secondary-color: #7aa7aa 
$dark-color: #4a5559
$button-color: #ffcc33
$button-text-color: #ffffff
$text-color: #333333
$bg-color: #e0f1f3
$border-color: #dce0e0
$chinese-font: Noto Sans CJK TC, Source Han Sans TW, Source Han Sans SC, Hiragino Sans GB W3, Droid Sans Fallback, Microsoft Yahei, Microsoft JhengHei, \5FAE软雅黑, PingFang TC, Noto Sans TC, STXihei, \534E文细黑
$font-size: 16px
.font-large
  font-size: $font-size * 1.2
.font-middle
  font-size: $font-size - 3px
.font-small
  font-size: $font-size / 2
$sidebar-width: 250px
$top-bar-height: 60px
$footer-height: 9rem

html,
body
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', $chinese-font, sans-serif
  font-size: $font-size
  font-weight: 100

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 100
  line-height: 1.2

a
  text-decoration: none
  color: inherit
  &:hover
    text-decoration: none

// 按鈕色調統一
.btn-primary
  background-color: $dark-primary-color
  border: none

  &:hover, &:focus, &:not(:disabled):not(.disabled):active,&:not(:disabled):not(.disabled):active:focus
    background-color: $primary-color
    border: none
    box-shadow: none


.sign_in
  position: absolute
  right: 3em
  top: 80%
  font-size: .8em
  color: $secondary-color

.button
  outline: none
  background: transparent
  border: 1px solid $border-color
  padding: .5em 1.5em
  border-radius: 1.5em

  &:hover
    border: 1px solid $primary-color
    color: $primary-color

    a
      color: $primary-color !important

.clearfix:after
  content: "."
  visibility: hidden
  display: block
  height: 0
  clear: both

#main_content
  margin-left: 250px

  #header
    padding: 1em 3em
    border-bottom: 1px solid $border-color
    background: $bg-color
    color: $secondary-color

    p
      display: inline

    a
      color: $secondary-color
      text-decoration: none

    .buttons
      float: right
      margin-top: -6px

      .button
        font-size: .8em
        margin-left: .5em
  .post_wrapper
    padding: 3em
    border-bottom: 1px solid $border-color

    .title
      margin: 0

      a
        font-weight: 500
        text-decoration: none
        color: $text-color
        font-size: 1.5em

        &:hover
          color: $primary-color

    .date_and_author
      color: $secondary-color
      margin: .5em 0 0 0

  #post_content
    padding: 1em 3em

    .title
      font-weight: 500
      text-decoration: none
      color: $text-color
      font-size: 2.5em
      margin-bottom: 0

    .body
      font-size: 1.1em
      line-height: 1.75

    .date_and_author
      color: $secondary-color
      margin: .5em 0 2em 0

