.channel-show
  width: 95%
  margin: auto

  .card
    .card-header
      background-color: $dark-color
      color: $button-text-color

    .card-body
      button

        &:focus
          border: none
          outline: none

        .card
          transition: .3s
          height: 100px

          .card-name
            line-height: 1.2rem

          &:hover
            transition: .3s
            box-shadow: 1px 1px 3px $secondary-color

          &:focus
            border: none
            outline: none

          .card-do
            .view
              background-color: $button-color
              color: $dark-color-yellow
              border: 1px solid $button-color
              transition: .3s
              &:hover
                filter: brightness(80%)
                filter: contrast(120%)

            .edit
              border: 1px solid $dark-primary-color
              transition: .3s
              &:hover
                transition: .3s
                background-color: white
                border: 1px solid $dark-primary-color
                color: $dark-primary-color

            .delete
              color: #6c757d
              border: 1px solid $border-color
              transition: .3s

              &:hover
                transition: .3s
                border: 1px solid #d45965
                color: #d45965

.send-all
  background-color: $dark-primary-color !important
  color: $button-text-color !important
  transition: .3s
  &:hover
    transition: .3s
    border: none !important
    background-color: $primary-color !important
