$primary-color: #66cccc
$secondary-color: #8ba8ba 
$button-color: #ffcc33
$button-text-color: #ffffff
$text-color: #333333
$font-size: 16px
$chinese-font: Noto Sans CJK TC, Source Han Sans TW, Source Han Sans SC, Hiragino Sans GB W3, Droid Sans Fallback, Microsoft Yahei, Microsoft JhengHei, \5FAE软雅黑, PingFang TC, Noto Sans TC, STXihei, \534E文细黑

html,
body
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', $chinese-font, sans-serif
  font-size: $font-size
  line-height: 3
  font-weight: 100

h1,
h2,
h3,
h4
  font-weight: 100
  line-height: 1.2
  color: $primary-color

.landing_navbar
  height: 5rem
  position: fixed
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  transition: .2s ease-in-out
  z-index: 10

  &__logo
    height: 75%
    width: auto
    margin-left: 2rem

  &__menu
    margin-right: 2rem
    display: flex

  &__menu__item
    height: 3rem
    line-height: 3rem
    padding: 0 2.7rem
    margin-left: 1.2em
    border: 0 1em
    border: 2px solid $secondary-color
    background-color: white
    border-radius: .25em
    color: $text-color
    font-weight: bolder
    text-decoration: none
    font-size: 1.1em

  &__menu__item:hover,
  &__menu__item--opaque
    background-color: $button-color
    text-decoration: none
    color: $text-color
    border-color: $button-color

  &__menu__item--opaque:hover
    filter: brightness(95%)
    color: $button-text-color

.landing_navbar--opaque
  background-color: #fff
  box-shadow: 0 0 10px rgba(0,0,0,.1)

.landing__hero
  height: 100vh
  display: flex
  background-image: url("../../assets/images/landing-bg.svg")
  background-size: cover
  overflow: hidden
  background-repeat: no-repeat
  background-position: center

  &__text
    color: $text-color
    font-size: 2.2rem
    padding: .8em 0

  &__cta
    background-color: $button-color
    color: $text-color
    display: inline-block
    font-size: 1.5em
    font-weight: bolder
    height: 2.5em
    line-height: 2.5em
    padding: 0 2.7rem
    border: 2px solid $button-color
    border-radius: .25em
    margin-top: 1.5em

  &__cta:hover
    text-decoration: none
    color: $button-text-color

.wrapper
  margin: auto 3rem
  width: 600px

.landing__section
  height: 100vh
  margin-top: 3rem
  display: flex
  background-color: #fafafa
  font-size: 1.15rem
  &__wrapper
    width: 100%
    margin: auto

  &__header
    color: $text-color
    font-size: 3rem
    font-weight: 300
    text-align: center
    margin: 0

  &__description
    text-align: center
    margin: 0 auto
    font-size: 1.8rem

hr
  width: 10rem
  margin: 1.5rem auto
  color: $primary-color
  border: 1px solid $primary-color

.four-columns
  margin: 2rem auto
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 2rem
  max-width: 1080px

.card
  box-shadow: 0 0 5px rgba(0,0,0,.08)
  border-color: transparentize(black, .9)

.round
  margin: 1em auto .2em
  background-color: $primary-color
  width: 100px
  height: 100px
  position: relative
  border-radius: 50%

  .far,
  .fas,
    font-size: 2.5rem
    color: $text-color
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.card-title,
.card-text,
  text-align: center

.landing__footer
  background-color: $primary-color
  width: 100%
  height: 7rem

  &__nav
    text-align: center
    font-weight: bolder

    a
      text-decoration: none
      color: $text-color
      display: inline-block
      margin: 1em 1em 0
    a:hover
      color: #fbfbfb

    &__copyright
      // background-color: pink
      line-height: .9rem
