.layout
  width: calc(100vw-18px) //扣掉滾動條寬度
  display: flex
  flex-wrap: nowrap

  .sidebar-blank //sidebar flex 浮動後協助佔位
    min-width: $sidebar-width
    height: 100vh

  main //寬度為總寬去掉佔位
    width: 100vw
