.sidebar
  width: $sidebar-width
  height: 100vh
  min-height: 500px
  background: $bg-color
  box-shadow: 0 1px .05rem .02rem $border-color
  padding: 1.5rem 1rem
  text-align: center
  position: fixed
  z-index: 99

  .sidebar__logo
    color: $dark-primary-color
    display: inline-block
    transition: .3s
    &:hover
      color: $primary-color

  .logo_hr
    background-color: $primary-color
    margin: 0 1.5rem 1.5rem

  a
    text-decoration: none
    transition: .4s ease

    &:hover
      color: $dark-primary-color
      cursor: pointer

      .title-dash
        border-color: $dark-primary-color !important

    &:active
      color: $primary-color

  .bg-select
    background-color: $bg-color
    filter: brightness(115%)
  .sidebar__menu
    display: flex
    flex-direction: column
    align-items: start
    overflow-y: auto

    div
      text-align: right
      line-height: 2rem

    .sidebar-selector
      font-size: .9rem
      margin-bottom: -.4rem
      margin-top: .5rem

  .sidebar__menu--push-up
    margin: 0 1rem

  .sidebar__menu--push-down
    position: relative
    margin: 15rem 1rem 0

aside.sidebar:not(.content-sidebar)
  overflow-y: auto
