.sidebar
  width: $sidebar-width
  height: 100vh
  background: $bg-color
  box-shadow: 0 1px .05rem .02rem $border-color
  padding: 1.5rem 1rem
  text-align: center
  position: fixed
  z-index: 3

  .sidebar__logo
    color: $dark-primary-color
    display: inline-block
    transition: .3s
    &:hover
      color: $primary-color

  .logo_hr
    background-color: $primary-color
    margin: 0 1.5rem 1.5rem 

  a
    text-decoration: none
    transition: .4s ease

    &:hover
      color: $dark-primary-color
      cursor: pointer

      .title-dash
        border-color: $dark-primary-color !important

    &:active
      color: $primary-color

  .sidebar__menu
    display: flex
    flex-direction: column
    align-items: start

    div
      text-align: right
      line-height: 2rem
    
    .sidebar-selector
      font-size: .9rem
      margin-bottom: -.4rem
      margin-top: .5rem

    //side bar hover border line
  .sidebar-line
    a
      position: relative

    a::before
      content: ""
      width: 0
      height: 1.5px
      position: absolute
      margin-bottom: 1px
      transition: .3s ease-out
      background: $primary-color

    a:hover::before
      width: 100%

    a::before
      left: 0
      bottom: 0
      transition-duration: .3s

  .sidebar__menu--push-up
    margin: 0 1rem

  .sidebar__menu--push-down
    position: absolute
    bottom: 2rem
    left: 2rem