
<%= render "articles/show" %>

<div>
  <%= link_to "原文網址", article_url(@article) %>
</div>

<%= link_to(unsubscribe_url(channel_id: @channel.id, email: @email), class: "btn btn-secondary") do %>
  <button>
    取消訂閱
  </button>
<% end %>
