<div class="link p-2">

  <div class="border">
    <%# AJAX create group %>
      <div data-toggle="modal" data-target="#create-group">
        <%= link_to "新增群組", new_link_group_path, remote: true, class:"btn btn-primary" %>
      </div>
  </div>
  <%# AJAX render all group, not the same %>

  <%= render('shared/partials/link_ajax') %>
</div>
